.category-product-container {
  gap: 32px;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "GalanoGrotesque, sans-serif";
}

.category-product-item {
  width: 45%;
  margin: 10px;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "GalanoGrotesque, sans-serif";
}

.category-product-image-container {
  aspect-ratio: auto;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  display: flex;
  position: relative;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: none;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "GalanoGrotesque, sans-serif";
}

.category-product-image {
  border: 1px solid var(--black-90);
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  outline: none;
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  font-family: "GalanoGrotesque, sans-serif";
}

.category-product-gradient-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 71.31%,
    rgba(0, 0, 0, 0.8) 96.99%
  );
  position: absolute;
  -webkit-font-smoothing: antialiased;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.category-product-text-container {
  bottom: 32px;
  text-align: center;
  color: #fff;
  width: 100%;
  position: absolute;
}

.category-product-text {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.category-product-link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.category-product-button {
  font-size: 16px;
  line-height: 24px;
  padding: 12px 32px;
  letter-spacing: 2px;
  color: rgb(26, 24, 30);
  background-color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  display: inline-block;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .category-product-item {
    width: 100%;
  }
  .category-product-image-container {
    height: 350px;
  }
}

@media screen and (max-width: 480px) {
  .category-product-image-container {
    height: 300px;
  }
  .category-product-text {
    font-size: 20px;
    line-height: 28px;
  }
  .category-product-button {
    font-size: 14px;
    padding: 10px 24px;
  }
}
